<div fxLayout="row">
    <div fxFlex.gt-sm="100%">
        <mat-card>

            <mat-card-content>
                <mat-card-title>{{title}}</mat-card-title>
                <mat-card-subtitle>
                    <div>
                        <!-- <mat-form-field>
                            <input matInput placeholder="Search with keyword">
                        </mat-form-field>
                        <button mat-raised-button color="primary" style="float: right;">CREATE</button> -->
                    </div>
                </mat-card-subtitle>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">

                    <div fxLayout="row" fxLayoutGap="10">
                        <div fxFlex="50%">
                            <mat-form-field>
                                <input type="text" matInput placeholder="First Name" formControlName="firstName">
                                <mat-error
                                    *ngIf="this.form.get('firstName')?.touched && this.form.get('firstName')?.hasError('required')">
                                    First name is required</mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex="50%">
                            <mat-form-field>
                                <input type="text" matInput placeholder="Middle Name" formControlName="middleName">
                                <!-- <mat-error
                                  *ngIf="this.form.get('middleName')?.touched && this.form.get('middleName')?.hasError('required')">
                                  middle name is required</mat-error> -->
                            </mat-form-field>
                        </div>
                    </div>

                    <div fxLayout="row" fxLayoutGap="10">
                        <div fxFlex="50%">
                            <mat-form-field>
                                <input type="text" matInput placeholder="Last Name" formControlName="lastName">
                                <mat-error
                                    *ngIf="this.form.get('lastName')?.touched && this.form.get('lastName')?.hasError('required')">
                                    Last name is required</mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex="50%">
                            <mat-form-field>
                                <mat-select placeholder="Select Gender" [formControl]="form.controls.gender" (selectionChange)="onSelectGender($event.value)">
                                    <mat-option *ngFor="let gender of genders" [value]="gender.id">{{ gender.name }}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="form.controls.gender.touched && form.controls.gender.hasError('required')">
                                  Gender is required
                                </mat-error>
                              </mat-form-field>
                        </div>
                    </div>

                    <div fxLayout="row" fxLayoutGap="10">
                        <div fxFlex="50%">
                            <mat-form-field>
                                <input type="date" matInput placeholder="DateOfBirth" formControlName="dateOfBirth">
                                <mat-error
                                    *ngIf="this.form.get('dateOfBirth')?.touched && this.form.get('dateOfBirth')?.hasError('required')">
                                    Date of birth is required</mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex="50%">
                            <mat-form-field>
                                <mat-select placeholder="Select Role" [formControl]="form.controls.role" (selectionChange)="onSelectRole($event.value)">
                                    <mat-option *ngFor="let role of roles" [value]="role.id">{{ role.name }}</mat-option>
                                </mat-select>
                                <mat-error
                                    *ngIf="form.controls.role.touched && form.controls.role.hasError('required')">
                                    Role is required
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>



                    <div fxLayout="row" fxLayoutGap="10">
                        <div fxFlex="50%">
                            <mat-form-field>
                                <input type="text" matInput placeholder="Contact"
                                    formControlName="contact">
                                <mat-error
                                    *ngIf="this.form.get('contact')?.touched && this.form.get('contact')?.hasError('required')">
                                    Contact is required</mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex="50%">
                            <mat-form-field>
                                <input type="email" matInput placeholder="Email" formControlName="email">
                                <!-- Here we can display error messages/hints for the user, if one of the Validators adds an error to the email 
                                 with the .touched check we only display the hints if the input was touched by the users -->
                                <mat-error
                                    *ngIf="this.form.get('email')?.touched && this.form.get('email')?.hasError('required')">
                                    Email is required</mat-error>
                                <mat-error
                                    *ngIf="this.form.get('email')?.touched && this.form.get('email')?.hasError('email')">
                                    Email must be a valid Email</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutGap="10">
                        <div fxFlex="50%">
                            <mat-form-field>
                                <mat-select placeholder="Select Department" [formControl]="form.controls.department" (selectionChange)="onSelectDept($event.value)">
                                    <mat-option *ngFor="let dept of departments" [value]="dept.id">{{ dept.name }}</mat-option>
                                </mat-select>
                                <mat-error
                                    *ngIf="form.controls.department.touched && form.controls.department.hasError('required')">
                                    Department is required
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex="50%">
                            
                            <mat-form-field>
                                <mat-select placeholder="Reporting Person" [formControl]="form.controls.reportingPerson" (selectionChange)="onSelectRP($event.value)">
                                    <mat-option value="1">A</mat-option>
                                    <mat-option value="2">B</mat-option>
                                    <mat-option value="3">C</mat-option>
                                    <mat-option value="4">D</mat-option>
                                </mat-select>
                                <mat-error
                                    *ngIf="form.controls.reportingPerson.touched && form.controls.reportingPerson.hasError('required')">
                                    Reporting Person is required
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div fxLayout="row" fxLayoutGap="10">
                        <div fxFlex="50%">
                            <mat-form-field>
                                <input type="password" matInput placeholder="Password" formControlName="password">
                                <mat-error
                                    *ngIf="this.form.get('password')?.touched && this.form.get('password')?.hasError('required')">
                                    Password is required</mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex="50%">
                            <mat-form-field>
                                <input type="password" matInput placeholder="Password Confirmation"
                                    formControlName="passwordConfirm">
                                <mat-error
                                    *ngIf="this.form.get('passwordConfirm')?.touched && this.form.get('passwordConfirm')?.hasError('required')">
                                    Password Confirmation is required</mat-error>
                            </mat-form-field>

                            <mat-error
                                *ngIf="this.form.get('passwordConfirm')?.dirty && this.form.hasError('passwordsNotMatching')">
                                Passwords are not matching!</mat-error>
                        </div>
                    </div>
                    <div class="button" style="float: right;">
                        <!-- Button is disabled(not clickable), if our RegisterForm contains Validation Errors -->
                        <button type="submit" mat-raised-button color="warn" [routerLink]="['/employee']">Back</button>&nbsp;
                        <ng-container *ngIf="title=='Add Employee' else edit">
                            <button type="submit" mat-raised-button color="primary" [disabled]="!form.valid">Save</button>
                        </ng-container>
                        <ng-template #edit>
                            <button type="submit" mat-raised-button color="primary">Update</button>
                        </ng-template>
                    </div>
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    &nbsp;
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>