<div class="login-container">
    <mat-card class="login-card">
        <mat-card-header>
            <mat-card-title>Sign In</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form>
                <mat-form-field class="full-width">
                    <input matInput placeholder="firstName" required [(ngModel)]="firstName" name="firstName">
                </mat-form-field>
                <mat-form-field class="full-width">
                    <input matInput type="password" placeholder="pin" required [(ngModel)]="pin" name="pin">
                </mat-form-field>
                <button mat-raised-button color="primary" class="full-width" type="submit" (click)="login()">Login</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>
